<div class="scoreboard-container">
  <h1>Bowling Scoreboard</h1>

  <div *ngIf="showForm">
    <app-add-player-form
      (newPlayerCreated)="addPlayer($event)"
      (displayForm)="showNewPlayerForm($event)">
    </app-add-player-form>
  </div>

  <ng-container *ngIf="players.length > 0; else newGame">
    <div class="scoreboard-buttons">
      <app-rolls
        [players]="players"
        [currentPlayerIndex]="currentPlayerIndex"
        [currentFrameIndex]="currentFrameIndex"
        (rollSelected)="onRollButtonClicked($event)"
      ></app-rolls>
    </div>
    <table class="scoreboard-table">
      <tr>
        <th></th>
        <th *ngFor="let frameNumber of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{ frameNumber }}</th>
        <th>Total</th>
      </tr>
      <!-- Table rows for players -->
      <tr *ngFor="let player of players; index as playerIndex" [ngClass]="{ 'active-player': playerIndex === currentPlayerIndex && players.length > 1 }">
        <td>{{ player.name }}</td>
        <!-- Frame scores for each player -->
        <td *ngFor="let frame of player.frames; index as frameIndex" [ngClass]="{ 'active-frame': playerIndex === currentPlayerIndex && frameIndex === currentFrameIndex }">
          <div class="rolls">
            <div class=""roll-1>
              <ng-container>
                {{ isStrike(frame.roll1  ?? 0) ? 'X' : frame.roll1 }}
              </ng-container>
            </div>

            <div class="roll-2">
              <ng-container *ngIf="!isStrike(frame.roll1  ?? 0) && isSpare((frame.roll1  ?? 0), (frame.roll2  ?? 0)); else strike">
                {{ !isStrike(frame.roll1  ?? 0) && isSpare((frame.roll1  ?? 0), (frame.roll2  ?? 0)) ? '/' : frame.roll2 }}
              </ng-container>
              <ng-template #strike>
                {{ isStrike(frame.roll2 ?? 0) ? 'X' : frame.roll2 }}
              </ng-template>
            </div>

            <div class="roll-3">
              <ng-container>
                {{ isStrike(frame.roll3 ?? 0) ? 'X' : frame.roll3 }}
              </ng-container>
            </div>

          </div>
          <div class="frame-score">
            {{ calculateFrameScore(player.frames)[frameIndex] }}
          </div>
        </td>
        <!-- Total score for each player -->
        <td>{{ calculateTotalScore(player.frames) }}</td>
      </tr>
    </table>
  </ng-container>
  <ng-template #newGame>
    <div class="new-game-container" >
      <div>Please add a new player to start a new game</div>
    </div>
  </ng-template>

  <div class="buttons-container" *ngIf="!showForm">
    <button class="btn action-btn" (click)="showNewPlayerForm(true)" [disabled]="firstPlayerHasMadeFirstRoll">Add New Player</button>
    <button class="btn action-btn" (click)="startNewGane()">Start New Game</button>
  </div>

  <div *ngIf="firstPlayerHasMadeFirstRoll" style="font-size: 18px; font-weight: bold; color: #f1b62e;">Game has started no additional players can be added.</div>

</div>
