.scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  padding: 20px;
  color: #fff;

  .new-game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .active-player {
    border: 2px solid red;
  }

  .active-frame {
    background-color: lightblue;
    color: #001169;
  }
}

.scoreboard-buttons {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 80%;
  margin-top: 20px;
  transform: translate(-50%, -50%);
}

.scoreboard-table {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  transform: translate(-50%, -50%);
  text-align: center;

  td {
    width: 50px;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #2e69f1;

    .rolls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      font-size: 13px;
      color: #fff;
    }
  }

  th {
    padding: 10px;
    font-weight: bold;
  }
}

.buttons-container {
  .action-btn {
    &:first-child{
      margin: 0 10px;
    }

    &:last-child{
      margin-left: 10px;
    }
  }
}

