/* You can add global styles to this file, and also import other style files */

html {
  height: auto;
  width: 100%;
  background: linear-gradient(to top, #001169, #003088, #004ea5, #006dc1, #008cdb);
}
